<form name="form1" action="createControllerForm" method="post">
    <div> <h1>Create Person</h1></div>
     <div>
        <label for="nome">Name:</label>
         <input type="text" id="name" placeholder="Enter the person's name">
    </div>
    <div id="outer">
        <input type="submit" class="button button1" value="Create">
        <input type="button" class="button button2" onclick="location.href='/';" value="Back" />
    </div>            
</form>