<h1>CRUD NODEJS</h1>
 {{!-- <nav id="menu">
    <ul>
        <li><a href="create">Create</a></li>
        <li><a href="update">Update</a></li>
        <li><a href="remove">Remove</a></li>
        <li><a href="select">Select</a></li>
    </ul>
</nav>  --}}
<h1>Person List</h1>
  <div id="outer_right">
         <input type="button" class="button button1" onclick="location.href='create';" value="Create" />
</div>    

<table id="persons">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
  </tr>
    {{#data}}
     <tr>
           <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                <a href="/update/{{id}}"><img src="/img/Editar.png" class="btnAcao"></a>
                <a href="/deletar/{{id}}" class="deletar"><img src="/img/Deletar.png" class="btnAcao"></a>
            </td>        
        </tr>
        {{/data}}
</table>
