<h1>Full Cycle Rocks!</h1>
  <div id="outer_right">  
         <input type="button" class="button button2" onclick="location.href='/';" value="Back" />
</div>    

<table id="persons">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
  </tr>
    {{#data}}
     <tr>
           <td>{{id}}</td>
            <td>{{people_name}}</td>
            <td>
                <a href="/update/{{id}}">Edit</a>
                <a href="/remove/{{id}}">Remove</a>
            </td>        
        </tr>
        {{/data}}
</table>
