<form name="form1" action="updateControllerForm" method="post">
     {{#data}}
    <div> <h1>Update People</h1></div>
    <div>
        <label for="nome">Registration:</label>
         <input type="hiden" name="id" id="id" value='{{id}}'>
    </div>
     <div>
        <label for="nome">Name:</label>
         <input type="text"  name="name" id="name" value='{{people_name}}' placeholder="Enter the people's name">
    </div>
    <div id="outer">
        <input type="submit"  name="btnSubmit" id="btnSubmit" class="button button1" value="Update">
        <input type="button" class="button button2" onclick="location.href='/';" value="Back" />
    </div>   
    {{/data}}         
</form>